<!--The content below is only a placeholder and can be replaced.-->



<div class="seccionTitulo">
  <h1 class="starfont title">Bienvenido a la turboweb</h1>
</div>

<canvas id="nokey" height="800">
  Your Browser Don't Support Canvas, Please Download Chrome ^_^``
</canvas>

<!-- Debería poner una especie de flecha indicando que se puede bajar la pantalla -->

<div>
  <a href="/members"><img src="../assets/images/rebeldesSTARWARS.png"></a>
</div>

<div>
  <a href="/home"><img src="../assets/images/imperioSTARWARS.png"></a>
</div>

<router-outlet></router-outlet>

